* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    /* background-color: red; */
    height: 500px;
    border-bottom: 1px solid #000;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.menu > a {
    text-decoration: none;
    color: #000;
    padding: 0 15px;;
}

.title {
    text-align: center;
    position: relative;
    top: 30%;
}

.main {
    display: flex;
}

.inner-container {
    flex: 1 1 0;
    border: 1px solid #000;
}

.gap {
    flex: 1 1 0;
    padding: 40px;
}

.cols {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%!important;
}

.cols-item {
     padding: 40px 40px;   
    }

.testimoni {
    min-height: 400px;
    /* padding: 40px; */
}

.cards {
    display: flex;
    /* height: 300px; */
    padding: 40px;
}

.card-items {
    flex: 1 1 0;
    padding: 30px;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 20px;
}


.testi-name {
    margin-top: 10px;
    color: #b9b9b9;
}

footer {
    text-align: center;
    padding: 20px;
}


.content {
    padding: 5em;
    text-align: justify;
}

.icon-boxes {
    display: flex;
}

.boxes {
    text-align: center;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

.contact-form {
    padding: 50px 0;
    /* background-color: red; */
    /* text-align: center; */
}

form {
    position: relative;
    width: 40%;
    margin: 0 auto;
}

input {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
}

textarea {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
}

button {
    /* width: 50%; */
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
}

@media only screen and (max-width : 480px) {
    .header {
        flex-direction: column;
    }

    .menu {
        text-align: center;
    }

    .menu > a {
        line-height: 2em;
    }

    .main {
        flex-direction: column;
        margin: 10px;
    }

    .cards {
        overflow-x: auto;
        padding: 0;
    }

    .card-items {
        min-width: 70%;
        margin: 10px;
    }

    .content {
        padding: 2em;
    }

    .icon-boxes {
        flex-direction: column;
        overflow: hidden;
    }

    form {
        margin: 0 10px;
        width: 85%;
    }

}